.toc {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
}

.toc ol {
  list-style-type: decimal;
  padding-left: 30px;
  margin: 5px;
}

code {
  color: #3c3c3f;
  font-family: "Lucida Console", Monaco, monospace;
  white-space: pre;
  overflow: auto;
  max-width: 100%;
}

code > .text-muted {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;
}

.learn-card {
  max-width: 30rem;
  margin: 5px;
  text-align: left;
}

.inline-input {
  max-width: 150px;
  display: inline;
  margin-left: 5px;
  margin-right: 2px;
}

.inline-input-sm {
  max-width: 50px;
  display: inline;
  margin-left: 5px;
  margin-right: 2px;
}
